<h1>hello from <%= node.name %> (ip: <%= node.ec2.public_ipv4 %>)</h1>
Here are the other web servers on this load balancer:
<ul>
  <% @machines.reject { |machine| machine.name == node.name }.each do |machine| %>
    <li><a href="http://<%= machine.ec2.public_ipv4 %>"><%= machine.name %></a></li>
  <% end %>
</ul>
